* {box-sizing: border-box;}
.square-report {
  max-width: 100%;
  margin: 0 auto;
}

.square-report > div {
  border: 2px solid rgb(40, 57, 207); 
  border-radius: 1px;
  background-color: rgba(70, 114, 197, 0.5);
  padding: 1em;
   color: #0f0f0f; 

}.square-report {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 10;
  grid-row: 1;
}
.two {
  grid-column: 1;
  grid-row: 2 / 6;
}
.three { 
    grid-column: 2 / 10;
    grid-row: 2 / 6;
  }
